@model Concert_WebAPI.DAL.Entities.Ticket;
@{
    ViewData["Title"] = "Validate";
}

<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image img-fluid"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Valida tu boleta</h3>

                            <form asp-action="Validate">

                                <partial name="../Shared/PartialViews/_PartialTicketValidate.cshtml" />


                                <div class="form-group">
                                    <input type="submit" value="Validar" class="btn btn-lg btn-secondary fw-bold text-black border-white bg-white" />
                                </div>

                                <div class="alert-dark text-center mt-2 rounded-1">
                                    @ViewBag.Message
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

