@{
    ViewData["Title"] = "Home Page";
}


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <div class="px-3 mx-auto">

        <div class="text-center m-auto ">
            <h1 class="display-4">Validación de boletas: ¡Accede al concierto con tranquilidad!</h1>
            <a class="btn btn-lg btn-secondary fw-bold text-black border-white bg-white" asp-area="" asp-controller="Tickets" asp-action="Validate">Ingresar</a>
        </div>
    </div>
</div>