@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-auto ">
    <h1 class="display-4">Validación de boletas: ¡Accede al concierto con tranquilidad!</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Validate">Ingresar</a>
</div>